* {
  box-sizing: border-box;
}

body {
  background: #010202;
  font-family: "Source Sans Pro", sans-serif;
}

a {
  text-decoration: none;
}

.header {
  height: 40px;
  width: 90%;
  max-width: 1146px;
  margin: auto;
  padding: 56px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: block;
}

.user {
  display: flex;
  align-items: center;
}

.user-name {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  margin-right: 15px;
}

.user-photo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.app {
  background: linear-gradient(
    90deg,
    #010202 0%,
    #010202 43%,
    rgba(1, 2, 2, 0.2) 90.9%
  );
  min-height: 100vh;
  color: #fff;
}

.film {
  display: block;
  height: calc(100% - 40px);
  width: 90%;
  max-width: 1146px;
  margin: 0 auto;
  padding: 7% 0;
}

.tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  opacity: 0.4;
  color: #e5e5e5;
  font-size: 16px;
  line-height: 140%;
}

.tags > * {
  margin-right: 15px;
  margin-bottom: 10px;
}

.age {
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 2px;
  padding: 1px 5px;
}

.description {
  max-width: 460px;
  font-size: 21px;
  line-height: 140%;
  margin-bottom: 36px;
}

.button {
  padding: 11px 26px;
  border-radius: 6px;
  border: none;
  font-size: 16px;
  line-height: 140%;
  background: #2f2f2f;
  color: #fff;
  cursor: pointer;
}

.button-primary {
  background: #ea6e20;
  margin-right: 15px;
}

.button-text {
  margin-left: 10px;
  vertical-align: text-bottom;
}

#hidden-content {
  display: none;
  border: none;
  border-radius: 6px;
  transition: all 0.5s;
}

.hidden-content {
  border: none;
  outline: none;
  cursor: pointer;
}

.hidden-content:hover {
  transform: scale(1.1);
}

@media (max-width: 1200px) {
}

@media (max-width: 768px) {
  .app {
    height: auto;
    padding-bottom: 400px;
    background: url(../img/cover-image.jpg) no-repeat bottom center/300px;
  }

  video {
    display: none;
  }

  .film {
    padding-top: 2%;
  }

  .description {
    font-size: 16px;
    min-width: 330px;
  }

  .film-logo {
    min-width: 100%;
  }
}

@media (max-width: 576px) {
  .button-text {
    display: none;
  }
  .user-name {
    display: none;
  }
  .app {
    padding-bottom: 350px;
    background-size: 300px;
  }
  .button {
    margin-bottom: 10px;
  }
  .film-logo {
    max-width: 100%;
  }
  video {
    display: none;
  }
  .description {
    width: 250px;
    max-width: 90%;
    font-size: 14px;
  }
}
